*
!/.gitignore
!/axi_datamover_iofm
!/axi_datamover_iofm/axi_datamover_iofm.xci
!/axi_datamover_wgt
!/axi_datamover_wgt/axi_datamover_wgt.xci
!/axis_dwidth_converter_instr
!/axis_dwidth_converter_instr/axis_dwidth_converter_instr.xci